$pageWidth: 480px;
$mobileBreakpoint: 480px;
$tabletBreakpoint: 600px;
$sidePanelWidth: 335px;
$topSpacing: 3rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
